# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtual environments
.venv/
venv/

# Testing / Coverage
.coverage
htmlcov/
.pytest_cache/
.tox/

# Django
*.sqlite3
db.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
